{% extends "base.html" %}
{% block body %}
    <h2> Get {{ item_name }} by breaking itself</h2>
    <form method="post">
        <div class="next-to-container">
            <p class="body-large next-left"> Is a tool required? </p>
            <div class="next-center">
                <div class="segmented-button-container">
                    <input type="radio" name="requires-tool" value="tool-no"
                           class="button-segment-radio" id="requires-tool-no"
                           required/>
                    <label for="requires-tool-no" class="body-large">
                        None
                    </label>

                    <input type="radio" name="requires-tool" value="tool-any"
                           class="button-segment-radio" id="requires-tool-any"
                           required/>
                    <label for="requires-tool-yes" class="body-large">
                        Any
                    </label>

                    <input type="radio" name="requires-tool" value="tool-specific"
                           class="button-segment-radio" id="requires-tool-specific"
                           required/>
                    <label for="requires-tool-specific" class="body-large">
                        Specific
                    </label>
                </div>
            </div>
            <div class="next-right">
                <select name="specific-tool" id="spec-tool-select" class="hidden label-large">
                    <option value="fishing-rod">Fishing Rod</option>
                    <option value="flint-and-steel">Flint and Steel</option>
                    <option value="shears">Shears</option>
                    <option value="axe">Axe</option>
                    <option value="hoe">Hoe</option>
                    <option value="pickaxe">Pickaxe</option>
                    <option value="shovel"> Shovel</option>
                    <option value="stone-axe">Stone Axe</option>
                    <option value="iron-axe">Iron Axe</option>
                    <option value="diamond-axe">Diamond Axe</option>
                    <option value="stone-hoe">Stone Hoe</option>
                    <option value="iron-hoe">Iron Hoe</option>
                    <option value="diamond-hoe">Diamond Hoe</option>
                    <option value="stone-pickaxe">Stone Pickaxe</option>
                    <option value="iron-pickaxe">Iron Pickaxe</option>
                    <option value="diamond-pickaxe">Diamond Pickaxe</option>
                    <option value="stone-shovel">Stone Shovel</option>
                    <option value="iron-shovel">Iron Shovel</option>
                    <option value="diamond-shovel">Diamond Shovel</option>
                </select>
            </div>
        </div>
        <div class="next-to-container">
            <p class="body-large next-left">Is there a fastest tool? </p>
            <div class="next-center">
                <div class="segmented-button-container">
                    <input type="radio" name="fastest-tool" value="fastest-no"
                           class="button-segment-radio" id="fastest-tool-no"
                           required/>
                    <label for="fastest-tool-no" class="body-large">
                        No
                    </label>
                    <input type="radio" name="fastest-tool" value="fastest-yes"
                           class="button-segment-radio" id="fastest-tool-yes"
                           required/>
                    <label for="fastest-tool-yes" class="body-large">
                        Yes
                    </label>
                </div>
            </div>
            <div class="next-right">
                <select name="fastest-specific-tool" id="fastest-specific-tool-select" class="hidden">
                    <option value="flint-and_steel">Flint and Steel</option>
                    <option value="shears">Shears</option>
                    <option value="axe">Axe</option>
                    <option value="hoe">Hoe</option>
                    <option value="pickaxe">Pickaxe</option>
                    <option value="shovel">Shovel</option>
                </select>
            </div>
        </div>
        <div class="next-to-container">
            <p class="body-large">Is silk touch required? </p>
            <div class="next-center">
                <div class="segmented-button-container">
                    <input type="radio" name="requires-silk" id="requires-silk-no"
                           value="silk-no-v" class="button-segment-radio" required/>
                    <label for="requires-silk-no" class="body-large">
                        No
                    </label>
                    <input type="radio" name="requires-silk" id="requires-silk-yes" value="silk-yes-v"
                           class="button-segment-radio" required/>
                    <label for="requires-silk-yes" class="body-large">
                        Yes
                    </label>
                </div>
            </div>
        </div>
        <br>

        <div class="next-to-container">
            <input class="submit-button right-margin" type="submit"
                   value="Submit & add another breaking method"
                   id="another"
                   name="another"/>
            <div class="next-right">
                <input class="submit-button" type="submit"
                       value="Submit & move to the next obtainment method"
                       id="next"
                       name="next"/>
            </div>
        </div>
    </form>
    <script>
        breaking_config_vars = {
            "show-group": {{ show_group|tojson }},
            "group-info": {{ group_info|tojson }},
            "is-toggle-selected": {{ is_toggle_selected|tojson }}
        }
        console.log(breaking_config_vars);
    </script>
    <script src="{{ url_for('static', filename='scripts/breaking.js') }}"></script>
{% endblock %}
