{% extends "base.html" %}
{% block body %}
    <h2>
        Get {{ item_name }} through crafting
    </h2>
    <p><i>
        For recipes that can be made in the two by two crafting grid please ensure that items are left & above the
        blue line (and tick the relevant box).
    </i></p>
    <p><i>
        Insert recipes from top to bottom and left to right.
    </i></p>

    <form method="post">
        <table class="crafting_grid_table">
            <tr class="crafting_grid_row">
                <td class="crafting_grid_cell"
                    style="border-top: 2px solid;
                            border-left: 2px solid;
                            border-right: 1px dashed;
                            border-bottom: 1px dashed;">
                    <input class="fill_entire_cell" type="text"
                           id="cs1" name="cs1"/>
                </td>
                <td class="crafting_grid_cell"
                    style="border-top: 2px solid;
                            border-right: blue 3px solid;
                            border-bottom: 1px dashed;">
                    <input class="fill_entire_cell" type="text"
                           id="cs2" name="cs2"/>
                </td>
                <td class="crafting_grid_cell"
                    style="border-top: 2px solid;
                            border-right: 2px solid;
                            border-bottom: 1px dashed;">
                    <input class="fill_entire_cell" type="text"
                           id="cs3" name="cs3"/>
                </td>
            </tr>
            <tr class="crafting_grid_row">
                <td class="crafting_grid_cell"
                    style="border-left: 2px solid;
                            border-right: 1px dashed;
                            border-bottom: blue 3px solid;">
                    <input class="fill_entire_cell" type="text"
                           id="cs4" name="cs4"/>
                </td>
                <td class="crafting_grid_cell"
                    style="border-bottom: blue 3px solid;
                            border-right: blue 3px solid;">
                    <input class="fill_entire_cell" type="text"
                           id="cs5" name="cs5"/>
                </td>
                <td class="crafting_grid_cell"
                    style="border-bottom: 1px dashed;
                            border-right: 2px solid;">
                    <input class="fill_entire_cell" type="text"
                           id="cs6" name="cs6"/>
                </td>
            </tr>
            <tr class="crafting_grid_row">
                <td class="crafting_grid_cell"
                    style="border-left: 2px solid;
                            border-bottom: 2px solid;
                            border-right: 1px dashed;">
                    <input class="fill_entire_cell" type="text"
                           id="cs7" name="cs7"/>
                </td>
                <td class="crafting_grid_cell"
                    style="border-bottom: 2px solid; border-right: 1px dashed">
                    <input class="fill_entire_cell" type="text"
                           id="cs8" name="cs8"/>
                </td>
                <td class="crafting_grid_cell"
                    style="border-bottom: 2px solid; border-right: 2px solid;">
                    <input class="fill_entire_cell" type="text"
                           id="cs9" name="cs9"/>
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>
                    <label for="number_created">
                        How many {{ item_name }}'s are created?
                    </label>
                </td>
                <td class="left_padding">
                    <input type="number" id="number_created" name="number_created" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="works_in_four_cbox">Does this recipe work within the 2x2 crafting grid? </label>
                </td>
                <td class="left_padding">
                    <input type="checkbox" id="works_in_four_cbox" name="works_four"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="flexible_positioning_cbox">
                        Can the items (IF MULTIPLE) in this recipe be positioned flexibly? (i.e. the relative position
                        between items
                        doesn't matter).
                    </label>
                </td>
                <td class="left_padding">
                    <input type="checkbox" id="flexible_positioning_cbox" name="flexible_position"/>
                </td>
            </tr>
        </table>
        <input class="submit_button right_margin" type="submit"
               value="Submit & add another crafting method"
               name="another"/>
        <input class="submit_button" type="submit"
               value="Submit & move to the next obtainment method"
               name="next"/>
    </form>
    <script>
        $(document).ready(function () {
            // Quit early if we know we shouldn't be updating these values.
            if (!(JSON.parse('{{ show_group|tojson }}') && JSON.parse(' {{ is_toggle_selected|tojson }}'))) {
                return
            }
            let group_info = JSON.parse('{{ group_info|tojson }}');
            if ($.isEmptyObject(group_info)) {
                return
            }
            group_info["to_mark_checked"].forEach(
                element => document.getElementById(element).checked = true
            );
            for (let key in group_info["to_fill"]) {
                document.getElementById(key).value = group_info["to_fill"][key];
            }
        });
    </script>

{% endblock %}
