{% extends "base.html" %}
{% block body %}
    <h2>
        Get {{ item_name }} through crafting
    </h2>
    <p class="body-large"><i>
        For recipes that can be made in the two by two crafting grid please ensure that items are left & above the
        purple emphasis line (and tick the relevant box).
    </i></p>
    <p class="body-large">
        Insert recipes from top to bottom and left to right.
    </p>

    <form method="post">
        <table class="crafting-grid-table">
            <tr class="crafting-grid-row">
                <td class="crafting-grid-cell dotted-bottom-right">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs1" name="cs1"/>
                </td>
                <td class="crafting-grid-cell dotted-bottom emphasis-right">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs2" name="cs1"/>
                </td>
                <td class="crafting-grid-cell dotted-bottom">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs3" name="cs3"/>
                </td>
            </tr>
            <tr class="crafting-grid-row">
                <td class="crafting-grid-cell emphasis-bottom dotted-right">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs4" name="cs4"/>
                </td>
                <td class="crafting-grid-cell emphasis-bottom emphasis-right">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs5" name="cs5"/>
                </td>
                <td class="crafting-grid-cell dotted-bottom">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs6" name="cs6"/>
                </td>
            </tr>
            <tr class="crafting-grid-row">
                <td class="crafting-grid-cell dotted-right">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs7" name="cs7"/>
                </td>
                <td class="crafting-grid-cell dotted-right">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs8" name="cs8"/>
                </td>
                <td class="crafting-grid-cell">
                    <input class="label-large crafting-grid-input" type="text"
                           id="cs9" name="cs9"/>
                </td>
            </tr>
        </table>
        <br>
        <div class="grid-layout">
            <label for="number-created" class="body-large grid-row-1 grid-col-1">
                How many {{ item_name }}'s are created?
            </label>
            <div class="grid-row-1 grid-col-2">
                <input type="number" id="number-created" class="text-input label-large narrow-width">
            </div>
            <p class="body-large grid-row-2 grid-col-1">Does this recipe work within the 2x2 crafting grid? </p>
            <div class="grid-col-2 grid-row-2">
                <div class="segmented-button-container">
                    {#                TODO: default value here. #}
                    <input type="radio" name="small-grid" value="grid-no"
                           class="button-segment-radio" id="small-grid-no"
                           required/>
                    <label for="small-grid-no" class="body-large">
                        No
                    </label>

                    <input type="radio" name="small-grid" value="grid-yes"
                           class="button-segment-radio" id="small-grid-yes"
                           required/>
                    <label for="small-grid-yes" class="body-large">
                        Yes
                    </label>
                </div>
            </div>
            <p class="grid-row-3 grid-col-1" style="width: 600px">
                Can the items (IF MULTIPLE) in this recipe be positioned flexibly? (i.e. the relative position
                between items doesn't matter).
            </p>
            <div class="grid-row-3 grid-col-2">
                <div class="segmented-button-container">
                    <input type="radio" name="flexible-positioning" class="button-segment-radio"
                           value="flexible-no" id="flexible-positioning-no"
                           required/>
                    <label for="flexible-positioning-no" class="body-large">
                        No
                    </label>
                    <input type="radio" name="flexible-positioning" class="button-segment-radio"
                           value="flexible-yes" id="flexible-positioning-yes"
                           required/>
                    <label for="flexible-positioning-yes" class="body-large">
                        Yes
                    </label>
                </div>
            </div>
        </div>

        <div class="next-to-container">
            <input class="submit-button" type="submit"
                   value="Submit & add another crafting method"
                   name="another"/>
            <div class="next-right">
                <input class="submit-button" type="submit"
                       value="Submit & move to the next obtainment method"
                       name="next"/>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            // Quit early if we know we shouldn't be updating these values.
            if (!(JSON.parse('{{ show_group|tojson }}') && JSON.parse(' {{ is_toggle_selected|tojson }}'))) {
                return
            }
            let group_info = JSON.parse('{{ group_info|tojson }}');
            if ($.isEmptyObject(group_info)) {
                return
            }
            group_info["to_mark_checked"].forEach(
                element => document.getElementById(element).checked = true
            );
            for (let key in group_info["to_fill"]) {
                document.getElementById(key).value = group_info["to_fill"][key];
            }
        });
    </script>

{% endblock %}
