{% extends "base.html" %}
{% block body %}
    <h2> Adding information for {{ item_name }}
        <a href={{ item_url }}>(wiki) </a>
    </h2>

    <p class="body-large"> The group name is {{ group_name }}. </p>

    <form method="post" class="next_to_container">
        <label for="group_name" class="body-large next_left">
            Set group name to: </label>
        <div class="next_center body-large">
            <input type="text" id="group_name" name="group_name" class="text_input label-large" required/>
        </div>
        <div class="next_right">
            <input type="submit" value="Set group name" name="group_name_btn"
                   class="submit_button label-large"/>
        </div>
    </form>

    <br>
    <h3> How do you obtain this block? </h3>
    <form method="post" id="item_start_form">
        <label class="checkbox-container body-large" for="breaking-cbox"> Breaking?
            <input type="checkbox" id="breaking-cbox" name="breaking" class="checkbox-item"/>
            <span id="breaking-span" class="checkmark"></span>
        </label>
        <label class="checkbox-container body-large" for="crafting-cbox">
            Crafting
            <input type="checkbox" id="crafting-cbox" name="crafting" class="checkbox-item"/>
            <span id="crafting-span" class="checkmark"></span>
        </label>
        <label class="checkbox-container body-large" for="env-changes-cbox">
            Environmental Changes?
            <input type="checkbox" id="env-changes-cbox" name="env_changes" class="checkbox-item"/>
            <span id="env-changes-span" class="checkmark"></span>
        </label>
        <br>
        <input class="submit_button" type="submit" value="Next">
    </form>

    <script>
        $(document).ready(function () {
            // Set up listeners for the values.
            const ids_to_spans = {
                "breaking-cbox": "breaking-span",
                "crafting-cbox": "crafting-span",
                "env-changes-cbox": "env-changes-span"
            }
            Object.entries(ids_to_spans).forEach(
                function (key) {
                    document.getElementById(key[0]).addEventListener(
                        'change', (event) => {
                            let span = document.getElementById(key[1]);
                            let tickedSpan = document.createElement("span");
                            tickedSpan.classList.add("material-symbols-outlined")
                            tickedSpan.innerText = "done"
                            if (event.currentTarget.checked) {
                                span.append(tickedSpan);
                            } else {
                                span.innerHTML = "";
                            }
                        }
                    )
                });

            // Quit if we shouldn't be updating these values.
            if (!JSON.parse('{{ show_group|tojson }}')) {
                return
            }
            JSON.parse('{{ group_categories|tojson }}').forEach(
                element => {
                    document.getElementById(element).checked = true
                    let span = document.getElementById(ids_to_spans[element]);
                    let tickedSpan = document.createElement("span");
                    tickedSpan.classList.add("material-symbols-outlined")
                    tickedSpan.innerText = "done"
                    span.append(tickedSpan);
                }
            );
        });
    </script>

{% endblock %}
