{% extends "base.html" %}
{% block body %}
    <h2> Adding information for {{ item_name }}
        <a href={{ item_url }}>(wiki) </a>
    </h2>

    <p class="body-large"> The group name is {{ group_name }}. </p>

    <form method="post" class="next_to_container">
        <label for="group_name" class="body-large next_left">
            Set group name to: </label>
        <div class="next_center body-large">
            <input type="text" id="group_name" name="group_name" class="text_input label-large" required/>
        </div>
        <div class="next_right">
            <input type="submit" value="Set group name" name="group_name_btn"
                   class="submit_button label-large"/>
        </div>
    </form>

    <br>
    <h3> How do you obtain this block? </h3>
    <form method="post" id="item_start_form">
        <label class="checkbox-container body-large" for="breaking-cbox"> Breaking?
            <input type="checkbox" id="breaking-cbox" name="breaking" class="checkbox-item"/>
            <span id="breaking-span" class="checkmark"></span>
        </label>
        <label class="checkbox-container body-large" for="crafting-cbox">
            Crafting
            <input type="checkbox" id="crafting-cbox" name="crafting" class="checkbox-item"/>
            <span id="crafting-span" class="checkmark"></span>
        </label>
        <label class="checkbox-container body-large" for="env-changes-cbox">
            Environmental Changes?
            <input type="checkbox" id="env-changes-cbox" name="env_changes" class="checkbox-item"/>
            <span id="env-changes-span" class="checkmark"></span>
        </label>
        <br>
        <input class="submit_button" type="submit" value="Next">
    </form>

    <script>
        start_config = {
            "show-group": {{ show_group|tojson }},
            "group-categories": {{ group_categories|tojson }}
        };
    </script>
    <script src="{{ url_for('static', filename='scripts/start_population.js') }}"></script>

{% endblock %}
