{% extends "layout.html" %}
{% block body %}
<h2>Adding generation as part of structures for {{item_name}}</h2>
<form method="post">
    <table>
        <tr>
            <td>
                <label for="structure_n">Structure Type </label>
            </td>
            <td class="left_padding">
                <input type="text" id="structure_n" name="structure_name" required/>
            </td>
        </tr>
    </table>

    <input class="right_margin submit_button" type="submit" value="Submit & add another "
           name="another"/>
    <input class="submit_button" type="submit" value="Submit & move to next obtaining method"
           name="next"/>
</form>

{% endblock %}
