{% extends "layout.html" %}
{% block body %}
<h2>Adding breaking information for {{item_name}}</h2>
<form method="post">
    <table>
        <tr>
            <td> Does this require a tool?</td>
            <td class="left_padding">
                <label for="requires_tool"> Yes: </label>
            </td>
            <td>
                <input type="radio" id="requires_tool" value="tool_yes" name="requires_tool"
                       required/>
            </td>
            <td class="left_padding">
                <label for="requires_tool_no">No: </label>
            </td>
            <td>
                <input type="radio" id="requires_tool_no" value="tool_no" name="requires_tool"
                       required/>
            </td>
        </tr>
        <tr>
            <td>
                Does this require silk touch?
            </td>
            <td class="left_padding">
                <label for="requires_silk">Yes: </label>
            </td>
            <td>
                <input type="radio" id="requires_silk" value="silk_yes" name="requires_silk"
                       required/>
            </td>
            <td class="left_padding">
                <label for="requires_silk_no">No: </label>
            </td>
            <td>
                <input type="radio" id="requires_silk_no" value="silk_no" name="requires_silk"
                       required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="fastest_tool">What tool is fastest? </label>
            </td>
            <td class="left_padding" colspan="4">
                <input type="text" id="fastest_tool" name="fastest_tool"/>
            </td>
        </tr>
    </table>
    <input class="submit_button" type="submit" value="Add"/>
</form>

{% endblock %}
