{% extends "layout.html" %}
{% block body %}
<h2> Adding information for <a href={{block_url}}> {{item_name}} </a></h2>
<h3> The group name is {{group_name}} </h3>
<form method="post">
    <table>
        <tr>
            <td>
                <label for="group_name">The group name <b>SHOULD</b> be</label>
            </td>
            <td class="left_padding">
                <input type="text" id="group_name" name="group_name_replacement" required/>
            </td>
        </tr>
    </table>
    <input class="submit_button" type="submit" value="Update group" name="update_group"/>
</form>
<br>
<h3> How to obtain this block? </h3>
<form method="post">
    <table class="alignment">
        <tr>
            <td>
                <input type="checkbox" id="breaking_checkbox" name="breaking"/>
            </td>
            <td class="left_padding">
                <label for="breaking_checkbox">Breaking? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="breaking_other_checkbox" name="breaking_other"/>
            </td>
            <td class="left_padding">
                <label for="breaking_other_checkbox">Breaking another block? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="crafting_checkbox" name="crafting"/>
            </td>
            <td class="left_padding">
                <label for="crafting_checkbox">Crafting? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="fishing_checkbox" name="fishing"/>
            </td>
            <td class="left_padding">
                <label for="fishing_checkbox">Fishing? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="trading_checkbox" name="trading"/>
            </td>
            <td class="left_padding">
                <label for="trading_checkbox">Trading? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="nat_gen_checkbox" name="nat_gen"/>
            </td>
            <td class="left_padding">
                <label for="nat_gen_checkbox">Natural Generation (chests)? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="nat_biome_checkbox" name="nat_biome"/>
            </td>
            <td class="left_padding">
                <label for="nat_biome_checkbox">Occurs naturally in specific biome? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="nat_struct_checkbox" name="nat_struct"/>
            </td>
            <td class="left_padding">
                <label for="nat_struct_checkbox">Generates as part of a structure? </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="post_gen_checkbox" name="post_gen"/>
            </td>
            <td class="left_padding">
                <label for="post_gen_checkbox">Can be generated by the player?</label>
            </td>
        </tr>
    </table>
    <input class="submit_button" type="submit" value="Next"></input>
</form>

{% endblock %}
