{% extends "layout.html" %}
{% block body %}
<h2> Adding information for <a href={{block_url}}> {{item_name}} </a></h2>
<h3> The group name is {{group_name}} </h3>
<form method="post">
    <table>
        <tr>
            <td>
                <label for="group_name">The group name <b>SHOULD</b> be</label>
            </td>
            <td class="left_padding">
                <input type="text" id="group_name" name="group_name_replacement" required/>
            </td>
        </tr>
    </table>
    <input class="submit_button" type="submit" value="Update group" name="update_group"/>
</form>
<br>
<h3> How to obtain this block? </h3>
<form method="post" id="block_start_form">
    <table class="alignment">
        <tr>
            <td>
                {% if "breaking" in already_checked %}
                <input type="checkbox" id="breaking_checkbox" name="breaking" checked/>
                {% else %}
                <input type="checkbox" id="breaking_checkbox" name="breaking"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="breaking_checkbox">Breaking? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "breaking other" in already_checked %}
                <input type="checkbox" id="breaking_other_checkbox" name="breaking_other" checked/>
                {% else %}
                <input type="checkbox" id="breaking_other_checkbox" name="breaking_other"/>
                {% endif %}

            </td>
            <td class="left_padding">
                <label for="breaking_other_checkbox">Breaking another block? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "crafting" in already_checked %}
                <input type="checkbox" id="crafting_checkbox" name="crafting" checked/>
                {% else %}
                <input type="checkbox" id="crafting_checkbox" name="crafting"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="crafting_checkbox">Crafting? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "fishing" in already_checked %}
                <input type="checkbox" id="fishing_checkbox" name="fishing" checked/>
                {% else %}
                <input type="checkbox" id="fishing_checkbox" name="fishing"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="fishing_checkbox">Fishing? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "trading" in already_checked %}
                <input type="checkbox" id="trading_checkbox" name="trading" checked/>
                {% else %}
                <input type="checkbox" id="trading_checkbox" name="trading"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="trading_checkbox">Trading? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "generated in chests" in already_checked %}
                <input type="checkbox" id="nat_gen_checkbox" name="nat_gen" checked/>
                {% else %}
                <input type="checkbox" id="nat_gen_checkbox" name="nat_gen"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="nat_gen_checkbox">Natural Generation (chests)? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "generated in biome" in already_checked %}
                <input type="checkbox" id="nat_biome_checkbox" name="nat_biome" checked/>
                {% else %}
                <input type="checkbox" id="nat_biome_checkbox" name="nat_biome"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="nat_biome_checkbox">Occurs naturally in specific biome? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "generated as part of structure" in already_checked %}
                <input type="checkbox" id="nat_struct_checkbox" name="nat_struct" checked/>
                {% else %}
                <input type="checkbox" id="nat_struct_checkbox" name="nat_struct"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="nat_struct_checkbox">Generates as part of a structure? </label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "post generation" in already_checked %}
                <input type="checkbox" id="post_gen_checkbox" name="post_gen" checked/>
                {% else %}
                <input type="checkbox" id="post_gen_checkbox" name="post_gen"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="post_gen_checkbox">Can be generated by the player?</label>
            </td>
        </tr>
        <tr>
            <td>
                {% if "stonecutter" in already_checked %}
                <input type="checkbox" id="stonecutter_checkbox" name="stonecutter" checked/>
                {% else %}
                <input type="checkbox" id="stonecutter_checkbox" name="stonecutter"/>
                {% endif %}
            </td>
            <td class="left_padding">
                <label for="stonecutter_checkbox">Stonecutting?</label>
            </td>
        </tr>
    </table>
    <input class="submit_button" type="submit" value="Next"></input>
</form>

{% endblock %}
