{% extends "layout.html" %}
{% block body %}
<h2>Adding crafting information for {{item_name}}</h2>
<form method="post">
    <p><i>For recipes that can be made in the four by four crafting grid please ensure that
        the items are before the blue line (and tick the relevant box) </i></p>
    <table style="border-collapse: collapse">
        <tr style="height: 100px;">
            <td style="border-top: 2px solid;
                       border-left: 2px solid;
                       border-right: 1px dashed;
                       border-bottom: 1px dashed;
                       text-align: center;">
                <input class="fill_entire_cell"
                       type="text" id="cs1" name="cs1"/>
            </td>
            <td style="border-top: 2px solid;
                       border-right: blue 3px solid;
                       border-bottom: 1px dashed;
                       text-align: center;">
                <input class="fill_entire_cell" type="text" id="cs2" name="cs2"/>
            </td>
            <td style="border-top: 2px solid;
                       border-right: 2px solid;
                       border-bottom: 1px dashed;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs3" name="cs3"/>
            </td>
        </tr>
        <tr style="height: 100px;">
            <td style="border-left: 2px solid;
                       border-right: 1px dashed;
                       border-bottom: 1px dashed;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs4" name="cs4"/>
            </td>
            <td style="border-right: blue 3px solid;
                       border-bottom: 1px dashed;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs5" name="cs5"/>
            </td>
            <td style="border-right: 2px solid;
                       border-bottom: 1px dashed;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs6" name="cs6"/>
            </td>
        </tr>
        <tr style="height: 100px;">
            <td style="border-left: 2px solid;
                       border-right: 1px dashed;
                       border-bottom: 2px solid;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs7" name="cs7"/>
            </td>
            <td style="border-right: blue 3px solid;
                       border-bottom: 2px solid;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs8" name="cs8"/>
            </td>
            <td style="border-right: 2px solid;
                       border-bottom: 2px solid;
                       text-align: center; ">
                <input class="fill_entire_cell" type="text" id="cs9" name="cs9"/>
            </td>
        </tr>
    </table>

    <br>
    <table>
        <tr>
            <td>
                <label for="n_created"> How many {{item_name}}s are created? </label>
            </td>
            <td class="left_padding">
                <input type="number" id="n_created" name="n_created" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="works_four_checkbox"> Does this work in the 4x4 crafting grid? </label>
            </td>
            <td class="left_padding">
                <input type="checkbox" id="works_four_checkbox" name="works_four"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="exact_pos_checkbox"> Does this require the exact positioning in the
                    crafting grid? </label>
            </td>
            <td class="left_padding">
                <input type="checkbox" id="exact_pos_checkbox" name="exact_positioning"/>
            </td>
        </tr>
    </table>


    <input class="submit_button, right_margin" type="submit"
           value="Submit & add another crafting recipe"
           name="another"/>
    <input class="submit_button" type="submit"
           value="Submit & move to the next obtainment method"
           name="next"/>
</form>

{% endblock %}
