{% extends "layout.html" %}
{% block body %}
<h2>Adding stone cutting information for {{item_name}}</h2>
<form method="post">
    <table>
        <tr>
            <td>
                <label for="other_block">
                    What other block does the stone cutter require?
                </label>
            </td>
            <td class="left_padding">
                <input type="text" id="other_block" name="other_block" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="quantity">
                    How many does this make?
                </label>
            </td>
            <td class="left_padding">
                <input type="number" id="quantity" name="quantity" required/>
            </td>
        </tr>
    </table>
    <input class="submit_button right_margin" type="submit"
           value="Submit & add another breaking method"
           name="another"/>
    <input class="submit_button" type="submit"
           value="Submit & move to the next obtainment method"
           name="next"/>
</form>

{% endblock %}
