{% extends "layout.html" %}
{% block body %}
<h2>Adding other block breaking information for {{item_name}}</h2>
<form method="post">
    <table>
        <tr>
            <td>
                <label for="other_block">What other block?</label>
            </td>
            <td class="left_padding">
                <input type="text" id="other_block" name="other_block" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="percent_lhood_dropping">What is the likelihood of {{item_name}}
                    dropping? </label>
            </td>
            <td class="left_padding">
                <input type="number" step="0.01" id="percent_lhood_dropping"
                       name="percent_dropping"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="fortune_checkbox">Does fortune improve these chances? </label>
            </td>
            <td class="left_padding">
                <input type="checkbox" name="fortune" id="fortune_checkbox"/>
            </td>
        </tr>
    </table>
    <input class="submit_button" type="submit"
           value="Submit & move to the next obtainment method"
           name="next"/>
</form>
{% endblock %}}
