@import url(theming/tokens.css);
@import url(theming/colors.module.css);
@import url(theming/typography.module.css);
@import url(theming/theme.light.css) (prefers-color-scheme: light);
@import url(component_styles/checkbox_style.css);
@import url(component_styles/segmented_button_style.css);
@import url(component_styles/switch_style.css);
@import url(component_styles/crafting_grid.css);

html {
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--md-sys-color-background);
}

h1 {
    font-style: var(--md-sys-typescale-headline-large-font-family-style);
    font-weight: var(--md-sys-typescale-headline-large-font-weight);
    font-size: var(--md-sys-typescale-headline-large-font-size);
    letter-spacing: var(--md-sys-typescale-headline-large-letter-spacing);
    line-height: var(--md-sys-typescale-headline-large-line-height);
}

h2 {
    font-style: var(--md-sys-typescale-headline-medium-font-family-style);
    font-weight: var(--md-sys-typescale-headline-medium-font-weight);
    font-size: var(--md-sys-typescale-headline-medium-font-size);
    letter-spacing: var(--md-sys-typescale-headline-medium-letter-spacing);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
}

h3 {
    letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
    line-height: var(--md-sys-typescale-headline-small-line-height);
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    font-size: var(--md-sys-typescale-headline-small-font-size);
}

/*Position group toggle items in line!*/
.next-to-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.next-center,
.next-right {
    padding-left: 20px;
}

#existing-group-sub {
    background-color: var(--md-sys-color-secondary-container);
    box-shadow: var(--md-ref-palette-neutral0);
    color: var(--md-sys-color-on-secondary-container);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    border: none;
    border-radius: var(--md-sys-shape-corner-full);
    padding-left: 24px;
    padding-right: 24px;
}

.submit-button:hover,
#existing-group-sub:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.group-chip {
    border: 1px solid var(--md-ref-palette-neutral-variant50);
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

hr {
    color: var(--md-sys-color-secondary);
    background-color: var(--md-sys-color-secondary);
    height: 3px;
}

.text-input {
    border-radius: var(--md-sys-shape-corner-extra-small);
    border: 1px solid var(--md-sys-color-outline);
    color: var(--md-sys-color-on-surface);
    background-color: white;
}

.narrow-width {
    width: 50px;
}

.submit-button,
#existing-group-sub {
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: var(--md-ref-palette-neutral0);
}

#existing-group-sub {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    line-height: 20px;
}

.submit-button {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.hidden {
    display: none;
}

select {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface-variant);
    border: solid 1px var(--md-sys-color-outline);
    height: 32px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
}


/*Fancy grid layout (I hope)*/
.grid-layout {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-2 {
    grid-row: 2;
}

.grid-col-1 {
    text-align: right;
    grid-column: 1;
}

.grid-col-2 {
    grid-column: 2;
}

.grid-row-3 {
    grid-row: 3;
}
