:root {
    --color_primary: #673ed7;
    --color_on_primary: #ffffff;
    --color_neutral_90: #e6e1e6;
    --color_neutral_var_50: #79757f;
}

html {
    font-family: 'Roboto Flex', sans-serif;
}

h1 {
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 400;
}

.label1 {
    line-height: 1.25rem;
    font-size: 0.825rem;
    font-weight: 500;
}

/* NEW BUTTON MAGIC. */

/*Positions things holding the button (required so it doesn't float to the top the page?*/
/*TODO: figure out positioning to be on the same line as other things.*/
.switch-group-button-cover {
    /*TODO: fine tune these values!! */
    display: table-cell;
    position: relative;
    padding: 10px;
    /*Using padding here avoid conflict with other layout items! */
    /*width: 200px;*/
    /*height: 160px;*/
    box-sizing: border-box;
}

/*Position the switch itself correctly. */
/*TODO - play with this (again)*/
.group-button-cover,
.thumb,
.track {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.thumb {
    z-index: 2;
}

/*Hide the checkbox itself. */
.group-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

/* Width appears to control the whole button width. */
/*!* Track apperance and positioning ???. */
.group-button {
    position: relative;
    top: 45%;
    height: 32px;
    width: 52px;
    /*!* this margin is used to center? it (I think)*/
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.track {
    width: 100%;
    background-color: var(--color_neutral_90);
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 100px;
}

/*The switch is currently off. */
/*NOTE - making this change will switch button behaviour. Make sure to account for this. (as I'm changing what = off and what = on */
#group-button .thumb:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1;
    background-color: var(--color_neutral_var_50);
    padding: 4px 4px;
    border-radius: 100%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

/* Appearance when switch is on! */
/*TODO: I need to change the track colour!*/
#group-button .group-checkbox:checked + .thumb:before {
    content: "";
    top: 0;
    left: 20px;
    height: 24px;
    width: 24px;
    background-color: var(--color_on_primary);
}



