<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Add Information </title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h1> Minecraft block / item information helper </h1>
{% if show_group %}
    <p class="body_large">
        Existing group is:
        <span class="group-chip">{{ group_name }}</span>
    </p>
    <form method="post" class="next_to_container">
        <div class="next_left">
            <p class="body_large"> Auto-populate based on group: </p>
        </div>
        <div class="switch-group-button-cover next_center">
            <div class="group-button-cover">
                <div class="group-button r" id="group-button">
                    <input type="checkbox" class="group-checkbox" name="group_checkbox"
                           id="switch-checkbox"/>
                    <div class="thumb"></div>
                    <div id="track" class="track"></div>
                </div>
            </div>
        </div>
        <div class="next_right">
            <input class="submit_button" type="submit"
                   id="existing_group_sub"
                   name="update_use_group_values"
                   value="Update"/>
        </div>
    </form>
    <hr>
{% endif %}
{% block body %} {% endblock %}
<script>
    $(document).ready(function () {
        if (!JSON.parse('{{ show_group|tojson }}')) {
            return;
        }
        const track = document.getElementById("track")
        if (JSON.parse('{{ is_toggle_selected|tojson }}')) {
            document.getElementById("switch-checkbox").checked = true;
            track.classList.add("on-track")
        }

        // Needed for nice switch layout.
        const checkbox = document.getElementById("switch-checkbox");
        checkbox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                track.classList.add("on-track")
            } else {
                track.classList.remove("on-track");
            }
        });
    });
</script>
</body>
</html>
