<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Add Information </title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h1> Minecraft block / item Information Helper </h1>
{% if show_group %}
    <div class="existing_group_toggle" id="toggle-group-overall">
        Load default values from existing group: {{ group_name }}
        <form method="post">
            <div class="toggle-group-button-cover">
                <div class="group-button-cover">
                    <div class="group-button r" id="group-button">
                        <input type="checkbox" class="group-checkbox" name="group_checkbox"
                               id="toggle-checkbox"/>
                        <div class="knobs"></div>
                        <div class="layer"></div>
                    </div>
                </div>
            </div>

            <input class="submit_button" type="submit"
                   id="existing_group_sub"
                   name="update_use_group_values"
                   value="Apply!"/>
        </form>
    </div>
    <br>
{% endif %}
{% block body %} {% endblock %}
<script>
    $(document).ready(function () {
        if (!JSON.parse('{{ is_toggle_selected|tojson }}')) {
            document.getElementById("toggle-checkbox").checked = true;
        }
    });
</script>
</body>
</html>
