{% extends "layout.html" %}

{% block body %}
<form method="post">
    <ul>
        <li>
            <label for="villager_type">Villager Type: </label>
            <input type="text" id="villager_type" name="villager_type" required/>
        </li>
        <li>
            <label for="villager_level">Villager Level: </label>
            <input type="text" id="villager_level" name="villager_level"/>
        </li>
        <li>
            <label for="emerald_price">Emerald Price: </label>
            <input type="number" id="emerald_price" name="emerald_price" required/>
        </li>
        <li>
            <label for="other_item">Other items needed? </label>
            <input type="text" id="other_item" name="other_item"/>
        </li>
    </ul>
    <input type="submit" value="Save trading info"/>
</form>
{% endblock %}
