{% extends "layout.html" %}
{% block body %}
<h1> Adding information for {{block_name}} </h1>
<p>
    <a href={{block_url}}>View in Minecraft Wiki</a>
</p>
<h2> How to obtain this block? </h2>
<form method="post">
    <ul>
        <li>
            <input type="checkbox" id="trading_checkbox" name="trading"/>
            <label for="trading_checkbox">Trading: </label>
        </li>
        <li>
            <input type="checkbox" id="nat_gen_checkbox" name="nat_gen"/>
            <label for="nat_gen_checkbox">Natural Generation (chests) </label>
        </li>
        <li>
            <input type="checkbox" id="breaking_checkbox" name="breaking"/>
            <label for="breaking_checkbox">Breaking? </label>
        </li>
        <li>
            <input type="checkbox" id="fishing_checkbox" name="fishing"/>
            <label for="fishing_checkbox">Fishing? </label>
        </li>
    </ul>
    <input type="submit" value="Next"></input>
</form>
{% endblock %}
